<% if @product.subscribable? %>
  <div class="subscription_options" style="display: none;">
    <br><br>
    <% subscription = Spree::Subscription.new %>
    <span>
      <%= label_tag :subscription, Spree.t(:recurring_delivery_interval) %><span class="required">*</span>
      <%= collection_select :subscription, :subscription_frequency_id, @product.subscription_frequencies, :id, :title, {}, { class: "form-control" } %>
    </span>
    <br>
    <span>
      <%= label_tag :subscription, Spree.t(:quantity) %><span class="required">*</span>
      <br>
      <%= number_field_tag :quantity, 1, class: 'title form-control', min: 1 %>
    </span>
    <br>
    <span class='input-group-btn'>
      <%= button_tag class: 'btn btn-success', id: 'subscribe-button', type: :submit, name: :subscribe, value: '1' do %>
        <%= Spree.t(:subscribe_now) %>
      <% end %>
    </span>
  </div>
<% end %>
