<% if @product.subscribable? %>
  <br><br>
  <% subscription = Spree::Subscription.new %>
  <span>
    <%= label_tag :subscription, Spree.t(:frequency) %><span class="required">*</span>
    <%= collection_select :subscription, :subscription_frequency_id, @product.subscription_frequencies, :id, :title, {}, { class: "form-control" } %>
  </span>
  <br>
  <span>
    <%= label_tag :subscription, Spree.t(:end_date) %><span class="required">*</span>
    <%= text_field :subscription, :end_date, class: "datepicker" %>
  </span>
  <br>
  <span class='input-group-btn'>
    <%= button_tag class: 'btn btn-success', id: 'subscribe-button', type: :submit, name: :subscribe, value: '1' do %>
      <%= Spree.t(:subscribe_now) %>
    <% end %>
  </span>
<% end %>
