<div data-hook="admin_product_form_subscribable">
  <%= f.field_container :subscribable, class: ['form-group'] do %>
    <%= f.check_box :subscribable, class: 'form-control', class: "subscribable-option subscribable_checkbox" %>
    <%= f.label :subscribable, Spree.t(:subscribable), class: "subscribable_label" %>
    <%= f.error_message_on :subscribable %>
  <% end %>
</div>
<div id="subscribable_options" class=<%= @product.subscribable? ? '' : 'hidden' %>>
  <%= f.collection_check_boxes :subscription_frequency_ids, Spree::SubscriptionFrequency.all, :id, :title, { include_hidden: false } do |builder| %>
    <%= builder.label { builder.check_box(class: "subscribable-option") + builder.text } %>
    <br>
  <% end %>
</div>
