<script type='text/template' id='variant_line_items_autocomplete_stock_template'>
  <label><%= Spree.t(:select_stock) %></label>

  <table class="stock-levels table table-bordered" data-hook="stock-levels">
    <thead>
      <th><%= Spree.t(:name) %></th>
      <th class="text-center"><%= Spree.t(:count_on_hand) %></th>
      <th class="text-center"><%= Spree.t(:quantity) %></th>
      {{#if variant.subscribable}}
        <th class="text-center"><%= Spree.t(:subscribe?) %></th>
        <th class="text-center"><%= Spree.t(:frequency) %></th>
        <th class="text-center"><%= Spree.t(:delivery_number) %></th>
      {{/if}}
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>{{variant.name}}</td>
        {{#if variant.track_inventory}}
          {{#if variant.total_on_hand}}
            <td class="text-center">{{variant.total_on_hand}}</td>
            <td class="text-center">
              <input class="quantity form-control" id="variant_quantity" data-variant-id="{{variant.id}}" type="number" min="1" value="1">
            </td>
            {{#if variant.subscribable}}
              <td>
                <input class="subscribe form-control" name="variant_subscribe" id="variant_subscribe" data-variant-id="{{variant.id}}" type="radio" value="1">Subscribe</input>
                <input class="subscribe form-control" name="variant_subscribe" id="variant_subscribe" data-variant-id="{{variant.id}}" type="radio" value="0">One Time Order</input>
              </td>
              <td>
                <select id="frequency" data-variant-id="{{variant.id}}">
                  {{#each variant.frequencies}}
                    <option value="{{this.id}}">{{this.title}}</option>
                  {{/each}}
                </select>
              </td>
              <td>
                <input class="delivery_number form-control" id="variant_delivery_number" data-variant-id="{{variant.id}}" type="number" min="1" value="1"></input>
              </td>
            {{/if}}
            <td class="actions actions-1 text-center">
              <button class="btn btn-sm btn-success add_variant with-tip" data-variant-id="{{variant.id}}" title="<%= Spree.t(:add) %>" data-action="add">
                <span class="icon icon-add"></span>
                </button>
            </td>
          {{else}}
            <td class="text-center"><%= Spree.t(:out_of_stock) %></td>
            <td class="text-center">0</td>
            <td></td>
            {{#if variant.subscribable}}
              <td></td>
              <td></td>
              <td></td>
            {{/if}}
            <td></td>
          {{/if}}
        {{else}}
          <td class="text-center"><%= Spree.t(:doesnt_track_inventory) %></td>
          <td class="text-center">
            <input class="quantity form-control" id="variant_quantity" data-variant-id="{{variant.id}}" type="number" min="1" value="1">
          </td>
          {{#if variant.subscribable}}
            <td></td>
            <td></td>
            <td></td>
          {{/if}}
          <td class="actions actions-1 text-center">
            <button class="btn btn-sm btn-success add_variant with-tip" data-variant-id="{{variant.id}}" title="<%= Spree.t(:add) %>" data-action="add">
              <span class="icon icon-add"></span>
            </button>
          </td>
        {{/if}}
      </tr>
    </tbody>
  </table>
</script>
