<tr id="<%= spree_dom_id subscription %>" data-hook="admin_subscriptions_index_rows" data-id="<%= subscription.id %>">
  <td><%= link_to subscription.number, edit_admin_subscription_path(subscription) %></td>
  <td><%= subscription.variant.name %></td>
  <td class="text-center"><%= subscription.price %></td>
  <td class="text-center"><%= subscription.frequency.title.titleize %></td>
  <td class="text-center"><%= subscription.delivery_number %></td>
  <td class="text-center"><%= subscription.number_of_deliveries_left %></td>
  <td class="text-center">
    <% if subscription.cancelled_at %>
      Cancelled
    <% elsif subscription.deliveries_remaining? %>
      <%= link_to_with_icon('cancel', Spree.t(:cancel), cancellation_admin_subscription_path(subscription)) if can? :delete, subscription %>
    <% else %>
      Completed
    <% end %>
  </td>
  <td data-hook="admin_subscriptions_index_row_actions" class="actions actions-2 text-right">
    <% @subscription = subscription %>
    <span id="pause_links">
      <%= render 'pause_links' %>
    </span>
    <%= link_to_edit(subscription, no_text: true) if can? :edit, subscription %>
  </td>
</tr>
