<tr id="<%= spree_dom_id subscription %>" data-hook="admin_subscriptions_index_rows">
  <td><%= link_to subscription.number, edit_admin_subscription_path(subscription) %></td>
  <td><%= subscription.variant.name %></td>
  <td class="text-center"><%= subscription.price %></td>
  <td class="text-center"><%= subscription.frequency.title %></td>
  <td class="text-center"><%= subscription.end_date.to_date.to_formatted_s(:rfc822) %></td>
  <td class="text-center">
    <% if subscription.cancelled_at %>
      Cancelled
    <% else %>
      <%= link_to_with_icon('cancel', Spree.t(:cancel), cancellation_admin_subscription_path(subscription), class: 'btn-danger btn btn-sm') if can? :delete, subscription %>
    <% end %>
  </td>
  <td data-hook="admin_subscriptions_index_row_actions" class="actions actions-2 text-right">
    <%= link_to_edit(subscription, no_text: true) if can? :edit, subscription %>
  </td>
</tr>
