<% content_for :page_title do %>
  <%= Spree::Subscription.model_name.human %> <%= @subscription.number %>
<% end %>

<% content_for :page_actions do %>
  <span data-id="<%= @subscription.id %>">
  <% if !@subscription.not_changeable? %>
    <span id="pause_links">
      <%= render partial: 'pause_links' %>
    </span>
  <% end %>
  <%= button_link_to Spree.t(:back_to_subscriptions_list), spree.admin_subscriptions_path, class: 'btn-success', icon: 'chevron-left' %>
</span>
<% end %>

<%= render partial: 'spree/admin/shared/flash_messages' %>
<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @subscription } %>

<%= form_for [:admin, @subscription] do |f| %>
  <%= render partial: 'summary', locals: { f: f } %>
  <%= render partial: 'item', locals: { f: f } %>
  <%= render partial: 'payment_info', locals: { f: f } %>
  <%= render partial: 'addresses', locals: { f: f } %>
  <%= render partial: 'orders' %>
  <% unless @subscription.not_changeable? %>
    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  <% end %>
<% end %>
