<% content_for :page_title do %>
  Subscriptions
<% end %>

<%= render partial: 'spree/admin/shared/flash_messages' %>

<% content_for :table_filter do %>
  <div data-hook="admin_subscriptions_index_search">
    <%= search_form_for [:admin, @search] do |f| %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :parent_order_email_cont, Spree.t(:customer_email) %>
            <%= f.text_field :parent_order_email_cont, tabindex: 1, class: "form-control js-quick-search-target" %>
          </div>
        </div>
      </div>
      <div data-hook="admin_subscriptions_index_search_buttons" class="form-actions">
        <%= button Spree.t(:filter_results), 'search' %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @subscriptions.present? %>
  <table class="table sortable" id='listing_subscription' data-hook>
    <thead>
      <tr data-hook="admin_subscriptions_index_headers">
        <th><%= Spree.t(:number) %></th>
        <th><%= Spree.t(:product_name) %></th>
        <th><%= Spree.t(:price) %></th>
        <th class="text-center"><%= Spree.t(:recurring_delivery_interval) %></th>
        <th class="text-center"><%= Spree.t(:total_deliveries) %></th>
        <th class="text-center"><%= Spree.t(:deliveries_left) %></th>
        <th data-hook="admin_subscriptions_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'spree/admin/subscriptions/subscription', collection: @subscriptions %>
    </tbody>
  </table>
  <%= paginate @subscriptions %>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Subscription)) %>
  </div>
<% end %>
