<tr data-id=<%= subscription.id %>>
  <td class="subscription-number"><%= link_to subscription.number, edit_subscription_path(subscription) %></td>
  <td class="subscription-product-name"><%= subscription.variant.product.name %></td>
  <td class="text-center subscription-price"><%= subscription.price %></td>
  <td class="text-center subscription-started"><%= subscription.parent_order.completed_at.to_date.to_formatted_s(:rfc822) %></td>
  <td class="text-center subscription-frequency"><%= subscription.frequency.title.titleize %></td>
  <td class="subscription-action-links">
    <% @subscription = subscription %>
    <% if subscription.cancelled? %>
        Subscription Cancelled
    <% else %>
      <span id="pause_links"><%= render partial: 'spree/subscriptions/pause_links', locals: { btn_class: "btn-xs" } %></span>
      <%= link_to Spree.t(:edit), edit_subscription_path(subscription), class: "btn btn-xs btn-default" %>
      <%= link_to Spree.t("subsriptions.admin.cancel"), "javascript:void(0)", class: "btn ajax_handler btn-xs btn-danger", data: { method: "PATCH", confirmation: Spree.t("subscriptions.confirm.cancel"), url: cancel_subscription_path(subscription) } %>
    <% end %>
  </td>
</tr>
